.content-water{
    position: relative;
}

.content-water h1{
    position: absolute;
}

.div-water{
    display: flex;
    min-height: 10vh;
}

.content-water h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1pX #204284;

}


.content-water h1:nth-child(2){
    color:#204284;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,
    100%{
        clip-path:polygon(95% 0,100% 0,100% 99%,95% 100%);
    }
    50%{
        clip-path: polygon(0 0,100% 0,100% 99%,0 100%);
    }
}
